.container{
  display:flex;
  flex-direction:column;
  align-items:center;
}
form{
  margin:100px auto;
  width:500px;
}
.button{
  display:flex;
  justify-content:space-between;
}
.log{
  max-width:240px;
}

.validation{
  color:#007bff;
  font-style: italic;
  margin-bottom:10px;
}
