.container {
  width:800px;
  height:500px;
}
.topModal{
  display:flex;
  justify-content:space-between;
  margin-top:50px;
}
.material-icons{
  font-size:32px;
  cursor:pointer;
}
h2{
  font-size:32px;
}

.example-user-input{
  margin-top:100px;
  margin-right:100px;
}
.taskButton{
  display:flex;
  justify-content:flex-end;
  margin-top:100px;
}
