<nav class="col-md-2 d-none d-md-block sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/office"  routerLinkActive="active" >
          <span data-feather="office"></span>
          Office <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/kitchen" routerLinkActive="active" >
          <span data-feather="kitchen"></span>
          Kitchen
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bedroom" routerLinkActive="active" >
          <span data-feather="bedroom"></span>
          Bedroom
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bathroom" routerLinkActive="active" >
          <span data-feather="eye"></span>
          Bathroom
        </a>
      </li>
      <li class="nav-item">
        <a (click)="showTasks()" class="nav-link" routerLink="/tasks" routerLinkActive="active" >
          <span data-feather="tasks"></span>
          Tasks
        </a>
      </li>
    </ul>
  </div>
  </nav>
