<nav class="col-md-2 d-none d-md-block sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/office"  routerLinkActive="active" >
          <fa [name]="'briefcase'"></fa>
          Office <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/kitchen" routerLinkActive="active" >
          <fa [name]="'cutlery'"></fa>

          Kitchen
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bedroom" routerLinkActive="active" >
          <fa [name]="'bed'"></fa>
          Bedroom
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bathroom" routerLinkActive="active" >
          <fa [name]="'bath'"></fa>
          Bathroom
        </a>
      </li>
      <li class="nav-item">
        <a (click)="showTasks()" class="nav-link" routerLink="/tasks" routerLinkActive="active" >
          <fa [name]="'tasks'"></fa>
          Tasks
        </a>
      </li>
    </ul>
  </div>
  </nav>
