.bold{
  text-transform: uppercase;
  padding:10px;
  color:black;
}
.bold:hover{
  border-bottom:2px solid black;
}

.welcome{
  text-align:center;
  padding:50px;
  font-size:32px;
  text-transform: uppercase;
}

.main{
  padding:20px;
  display:flex;
  justify-content:space-between;
}
.photos{
  list-style:none;
}

.pt-5, .py-5{
  padding-top:0 !important;
}
