<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-spin-clockwise-fade-rotating">
</ngx-spinner>

<app-header ></app-header>
<div class="sign_up">
  <div class="container">
      <form class="form-signin" name="signForm" #signForm="ngForm" novalidate (submit)="signUser($event)">
          <h1 class="h3 mb-3 font-weight-normal">Please Sign in</h1>

          <input class="form-control" minlength ="4" ngModel name="firstName" #firstName="ngModel" type= "firstName" placeholder="First Name" required autofocus/><br>
          <div class="validation" *ngIf="firstName.touched && !firstName.valid">
            <div *ngIf="firstName.errors.required">First Name is required</div>
            <div *ngIf="firstName.errors.minlength">First Nameshould be minimum {{firstName.errors.minlength.requiredLength}}</div>
          </div>

          <input class="form-control"  minlength ="4" ngModel name="lastName" #lastName="ngModel" type= "lastName" placeholder="Last Name" required autofocus/><br>
          <div class="validation" *ngIf="lastName.touched && !lastName.valid">
            <div *ngIf="lastName.errors.required">Last Name is required</div>
            <div *ngIf="lastName.errors.minlength">Last Nameshould be minimum {{lastName.errors.minlength.requiredLength}}</div>
          </div>

          <input class="form-control" minlength ="10" ngModel name="email" #email="ngModel"  type= "email" placeholder="Email or Phone Number" required autofocus/><br>
          <div class="validation" *ngIf="email.touched && !email.valid">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.minlength">Email length should be minimum {{email.errors.minlength.requiredLength}}</div>
          </div>

          <input class="form-control" minlength ="8" ngModel name="password" #password="ngModel" type= "password" placeholder="New Password" required autofocus/><br>
          <div class="validation" *ngIf="password.touched && !password.valid">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">Password length should be minimum {{password.errors.minlength.requiredLength}}</div>
          </div>

          <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" [disabled]="!signForm.form.valid">Sign Up</button>
     </form>
</div>
</div>
<app-footer></app-footer>
